# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Poetry
# poetry.lock - нужен для установки зависимостей

# IDE
.idea/
*.iml
.vscode/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
*.key
secrets/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

